
@{
    ViewBag.Title = "Index";
}
<div class="col-md-8">
    <form class="p-4" id="checkOutPanel">

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3" style="display: none;">
                    <label for="loginPassword" class="form-label h5">اختر الرحله</label>
                    <select class="form-select form-select-lg mb-3 TRIP" TRIPValidator id="tripsDrop" required>
                        <option value="">اختر ...</option>
                    </select>
                    <div id="TRIPValidator" class="invalid-feedback TRIPValidator">
                        اختار الرحله
                    </div>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="mb-3">
                    <label for="nationalId" class="form-label h5">ادخل اسم العميل  </label>
                    <input type="text" maxlength="20" class="form-control form-control-lg name" placeholder="اسم العميل" nameValidator id="name" nationalIdValidator required autofocus>
                    <div id="nameValidator" class="invalid-feedback nameValidator">
                        ادخل اسم العميل
                    </div>
                </div>
            </div>


            <div class="col-md-6">
                <div class="mb-3">
                    <label for="mobileNumber" class="form-label h5">ادخل رقم هاتف العميل</label>
                    <input type="number" min="0" style="text-align: right;" maxlength="10" class="form-control form-control-lg phone" id="mobileNumber" placeholder="هاتف العميل"
                           oninput="javascript: if (this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);"
                           mobileValidator required autofocus>
                    <div id="mobileValidator" class="invalid-feedback">
                        ادخل رقم هاتف العميل
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label for="loginPassword" class="form-label h5">اختر المسار</label>
                    <select class="form-select form-select-lg mb-3 service" serviceValidator onchange="getHotel();" id="serviceDrop" required>
                        <option value="0">اختر ...</option>
                    </select>
                    <div id="serviceValidator" class="invalid-feedback dropValidate">
                        اختار المسار
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label for="loginPassword" class="form-label h5">اختر الفندق</label>
                    <select class="form-select form-select-lg mb-3 hotel" hotelValidator id="hotelDrop" required>
                        <option value="">اختر ...</option>
                    </select>
                    <div id="serviceValidator" class="invalid-feedback dropValidate">
                        اختار الفندق
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label for="loginPassword" class="form-label h5">اختر نقطة الانطلاق </label>
                    <select class="form-select form-select-lg mb-3 Terminal" TerminalValidator onchange="getTime();" id="TerminalDrop" required>
                        <option value="0">اختر ...</option>
                    </select>
                    <div id="TerminalValidator" class="invalid-feedback dropValidate">
                        اختار نقطة الانطلاق
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label for="loginPassword" class="form-label h5">اختر وقت الرحله </label>
                    <select class="form-select form-select-lg mb-3 Time" TerminalValidator id="TimeDrop" onchange="getTripDrop();" required>
                        <option value="0">اختر ...</option>
                    </select>
                    <div id="TimeValidator" class="invalid-feedback dropValidate">
                        اختار وقت الرحله
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label for="nationalId" class="form-label h5">ادخل عدد التذاكر  </label>
                    <select class="form-select form-select-lg mb-3 countTiket" countTiketValidator id="countTiketDrop" required>
                        <option value="0">اختر ...</option>
                    </select>
                    <div id="countTiketValidator" class="invalid-feedback countTiket">
                        ادخل عدد التذاكر
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <div class="mb-3">
                    <label for="loginPassword" class="form-label h5">اختر طريقه الدفع</label>
                    <select class="form-select form-select-lg mb-3 PAy" PayValidator id="PaysDrop" required>
                        <option value="">اختر ...</option>
                    </select>
                    <div id="PayValidator" class="invalid-feedback PayValidator">
                        اختار  طريقه الدفع
                    </div>
                </div>
            </div>

            <div class="col-md-6">
                <button type="button" class="btn btn-primary mt-2" onclick="TRANSACT()">إرسـال</button>
                <img src="~/assets/loading.gif" class="loader" id="loader" style="display:none">
            </div>
        </div>
</form>
    <div class="mb-3" id="msgDiv" style="display:none">
        <div id="msg" class="alert alert-success">
            تم الاجراء بنجاح
        </div>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
<script src="~/Scripts/Saptco.js"></script>